/* General Styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --color: #c0c0c0;
  background-color: black;
  height: 100vh;
  color: var(--color);
  padding: 0 10px;
}

/* Header */

header {
  width: 100%;
  height: 10%;
  margin: 10px 0;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-link {
  padding: 0 20px;
  flex-wrap: wrap;
}

.navbar-container div a {
  color: var(--color);
  text-decoration: none;
  font-size: 1.2em;
}

.logo-container {
  align-self: left;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 20px;
}

.logo {
  font-size: 35px;
  border: 2px solid var(--color);
  padding: 0 10px;
  padding-bottom: 5px;
}

.login-btn {
  border: 1px solid var(--color);
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10%;
}

.nav-hover:hover {
  text-decoration: underline;
}

.login-btn:hover {
  background-color: var(--color);
  color: black;
}

/* Images */

.img-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "img1 img2 img3 img4 img5"
    "img1 img8 img3 img10 img10"
    "img1 img7 img9 img9 img11"
    "img12 img7 img9 img9 img11";
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(4, 5fr);
  grid-gap: 15px;
  /* uncomment to change img container size */
  /* padding: 0 75px; */
}

.img {
  opacity: 0.75;
}

.img1 {
  grid-area: img1;
  background-image: url(./images/img1.jpg);
  background-size: cover;
  background-position: center;
}

.img2 {
  grid-area: img2;
  background-image: url(./images/img2.jpg);
  background-size: cover;
  background-position: center;
}

.img3 {
  grid-area: img3;
  background-image: url(./images/img3.jpg);
  background-size: cover;
  background-position: center;
}

.img4 {
  grid-area: img4;
  background-image: url(./images/img4.jpg);
  background-size: cover;
  background-position: center;
}

.img5 {
  grid-area: img5;
  background-image: url(./images/img5.jpg);
  background-size: cover;
  background-position: center;
}

.img7 {
  grid-area: img7;
  background-image: url(./images/img7.jpg);
  background-size: cover;
  background-position: center;
}

.img8 {
  grid-area: img8;
  background-image: url(./images/img8.jpg);
  background-size: cover;
  background-position: center;
}

.img9 {
  grid-area: img9;
  background-image: url(./images/img9.jpg);
  background-size: cover;
  background-position: center;
}

.img10 {
  grid-area: img10;
  background-image: url(./images/img10.jpg);
  background-size: cover;
  background-position: center;
}

.img11 {
  grid-area: img11;
  background-image: url(./images/img11.jpg);
  background-size: cover;
  background-position: center;
}

.img12 {
  grid-area: img12;
  background-image: url(./images/img12.jpg);
  background-size: cover;
  background-position: center;
}

.img:hover {
  opacity: 1;
  transition: 750ms;
}

.content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  font-size: 4rem;
}

.content-title h2 {
  font-family: "Kaushan Script", cursive;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.content-text {
  text-align: center;
  width: 30%;
  font-family: "Roboto", sans-serif;
}

/* Footer */

.footer-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid var(--color);
  padding-top: 30px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
}

.social-icons div {
  padding: 0 10px;
}

i {
  color: var(--color);
  border: 1px solid var(--color);
  padding: 10px;
  border-radius: 50%;
}

i:hover {
  background-color: var(--color);
  color: black;
}

#instagram {
  padding: 10px 11px;
}

#facebook {
  padding: 10px 11px;
}

.footer-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 30px;
}

.footer-nav-links ul li {
  display: inline;
  list-style-type: none;
}

.footer-nav-links ul li a {
  text-decoration: none;
  text-decoration: none;
  color: var(--color);
  padding: 0 15px;
  font-size: 1.1em;
}

.footer-nav-links ul li a:hover {
  text-decoration: underline;
}

/* 1050px? */
@media screen and (max-width: 770px) {
  /* content */
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .txt1 {
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .txt2 {
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .txt3 {
    align-self: center;
    width: 100%;
    margin-bottom: 0;
  }

  /* header */

  .nav-link {
    display: none;
  }

  .logo-container {
    margin-left: 0;
  }

  .mobile-menu-container {
    border: 2px solid var(--color);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    margin-right: 10px;
  }
  .menu-line-1 {
    width: 60%;
    height: 2px;
    border: 1px solid var(--color);
    border-radius: 5px;
  }
  .menu-line-2 {
    width: 60%;
    height: 2px;
    border: 1px solid var(--color);
    border-radius: 5px;
  }
  .menu-line-3 {
    width: 60%;
    height: 2px;
    border: 1px solid var(--color);
    border-radius: 5px;
  }
}
